<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multiplayer Chess</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"
      integrity="sha512-nYuHvSAhY5lFZ4ixSViOwsEKFvlxHMU2NHts1ILuJgOS6ptUmAGt/0i5czIgMOahKZ6JN84YFDA+mCdky7dD8A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <script type="text/javascript" charset="utf-8">

    </script>
    <script>
      var socket = io.connect();
      function joinroom() {
        var tst = document.getElementById("room")
        console.log(tst.value)
        socket.emit('join', {'username': 'b_user', 'room': tst.value});
      }
      function createroom() {
        var roomn = `${Math.floor(Math.random() * 100)}`
        console.log(roomn)
        socket.emit('join', {'username': 'a_user', 'room': roomn});
      }
      socket.on('status', function (data) {
        console.log(data)
      });
    </script>
    <p>Hello world</p>
    <input type="text" id="room">Join room
    <button onclick="joinroom()">go
    <button onclick="createroom()">make room
  </body>
</html>
